<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑课程</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body style="padding: 15px;">
    <form class="layui-form" lay-filter="editCourseForm">
        <input type="hidden" name="id" value="{$course.id}">
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$course.name}" placeholder="请输入课程名称" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">课程代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="course_code" value="{$course.course_code}" placeholder="请输入课程代码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属学校</label>
                    <div class="layui-input-block">
                        <select name="school_id" lay-filter="school" lay-verify="required">
                            <option value="">请选择学校</option>
                            {volist name="schools" id="school"}
                            <option value="{$school.id}" {if $course.school_id == $school.id}selected{/if}>{$school.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属学院</label>
                    <div class="layui-input-block">
                        <select name="college_id" lay-filter="college">
                            <option value="">请选择学院</option>
                            {volist name="colleges" id="college"}
                            <option value="{$college.id}" {if $course.college_id == $college.id}selected{/if}>{$college.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">负责教师</label>
                    <div class="layui-input-block">
                        <select name="responsible_teacher_id">
                            <option value="">请选择教师</option>
                            {volist name="teachers" id="teacher"}
                            <option value="{$teacher.id}" {if $course.responsible_teacher_id == $teacher.id}selected{/if}>{$teacher.real_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <div class="layui-input-block">
                        <input type="number" name="credits" value="{$course.credits}" placeholder="请输入学分" autocomplete="off" class="layui-input" step="0.1" min="0">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <div class="layui-input-block">
                        <input type="number" name="hours" value="{$course.hours}" placeholder="请输入学时" autocomplete="off" class="layui-input" min="0">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学期</label>
                    <div class="layui-input-block">
                        <input type="text" name="semester" value="{$course.semester}" placeholder="如：2024春季" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学年</label>
                    <div class="layui-input-block">
                        <input type="text" name="academic_year" value="{$course.academic_year}" placeholder="如：2024-2025" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" value="{$course.sort}" placeholder="请输入排序值" autocomplete="off" class="layui-input" min="0">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">课程描述</label>
            <div class="layui-input-block">
                <textarea name="description" placeholder="请输入课程描述" class="layui-textarea">{$course.description}</textarea>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">课程标签</label>
            <div class="layui-input-block">
                <div id="selectedTags" style="min-height: 40px; padding: 10px; border: 1px solid #e6e6e6; border-radius: 2px; margin-bottom: 10px;">
                    {if condition="$course.tags && count($course.tags) > 0"}
                        {volist name="course.tags" id="tag"}
                            <span class="layui-badge" style="background-color: {$tag.color}; margin-right: 5px; margin-bottom: 5px;">
                                {$tag.name}
                                <i class="layui-icon layui-icon-close" style="cursor: pointer;" onclick="removeTag({$tag.id})"></i>
                            </span>
                        {/volist}
                    {else/}
                        <span class="layui-text-color">暂无标签</span>
                    {/if}
                </div>
                <button type="button" class="layui-btn layui-btn-primary" onclick="selectTags()">选择标签</button>
                <input type="hidden" name="tag_ids" id="tagIds" value="">
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" {if $course.status == 1}checked{/if}>
                        <input type="radio" name="status" value="0" title="禁用" {if $course.status == 0}checked{/if}>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">公开性</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_public" value="1" title="公开" {if $course.is_public == 1}checked{/if}>
                        <input type="radio" name="is_public" value="0" title="私有" {if $course.is_public == 0}checked{/if}>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editCourseSubmit">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    
    <script src="/static/admin/js/jquery-3.7.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        
        // 标签管理相关变量
        var selectedTags = [];
        
        // 初始化已选标签
        {if condition="$course.tags"}
            {volist name="course.tags" id="tag"}
                selectedTags.push({
                    id: {$tag.id},
                    name: '{$tag.name}',
                    color: '{$tag.color}'
                });
            {/volist}
        {/if}
        
        // 初始化标签ID字段
        updateTagIds();
        
        // 学校变化时加载教师
        form.on('select(school)', function(data){
            var schoolId = data.value;
            if(schoolId){
                $.get('/admin/teacher/getList', {school_id: schoolId}, function(res){
                    if(res.code === 0){
                        var html = '<option value="">请选择教师</option>';
                        res.data.list.forEach(function(item){
                            html += '<option value="' + item.id + '">' + item.real_name + '</option>';
                        });
                        $('select[name="responsible_teacher_id"]').html(html);
                        form.render('select');
                    }
                });
            } else {
                $('select[name="responsible_teacher_id"]').html('<option value="">请选择教师</option>');
                form.render('select');
            }
        });
        
        // 表单提交
        form.on('submit(editCourseSubmit)', function(data){
            // 添加标签ID到提交数据
            data.field.tag_ids = $('#tagIds').val();
            
            $.post('/admin/course/update/' + data.field.id, data.field, function(res){
                if(res.code === 0){
                    layer.msg('保存成功', {icon: 1}, function(){
                        // 刷新父页面表格
                        parent.layui.table.reload('courseTable');
                        // 关闭弹窗
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                } else {
                    layer.msg(res.msg || '保存失败', {icon: 2});
                }
            });
            return false;
        });
        
        // 选择标签
        window.selectTags = function() {
            layer.open({
                type: 2,
                title: '选择标签',
                shadeClose: true,
                shade: 0.8,
                area: ['600px', '500px'],
                content: '/admin/course/tags?id={$course.id}',
                success: function(layero, index) {
                    // 传递已选标签到子页面
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    if (iframeWin && iframeWin.setSelectedTags) {
                        iframeWin.setSelectedTags(selectedTags);
                    }
                }
            });
        };
        
        // 移除标签
        window.removeTag = function(tagId) {
            selectedTags = selectedTags.filter(function(tag) {
                return tag.id !== tagId;
            });
            renderSelectedTags();
            updateTagIds();
        };
        
        // 渲染已选标签
        function renderSelectedTags() {
            var container = $('#selectedTags');
            if (selectedTags.length === 0) {
                container.html('<span class="layui-text-color">暂无标签</span>');
            } else {
                var html = '';
                selectedTags.forEach(function(tag) {
                    html += '<span class="layui-badge" style="background-color: ' + tag.color + '; margin-right: 5px; margin-bottom: 5px;">';
                    html += tag.name;
                    html += '<i class="layui-icon layui-icon-close" style="cursor: pointer;" onclick="removeTag(' + tag.id + ')"></i>';
                    html += '</span>';
                });
                container.html(html);
            }
        }
        
        // 更新隐藏的标签ID字段
        function updateTagIds() {
            var tagIds = selectedTags.map(function(tag) {
                return tag.id;
            }).join(',');
            $('#tagIds').val(tagIds);
        }
        
        // 接收子页面传递的标签数据
        window.receiveTags = function(tags) {
            selectedTags = tags;
            renderSelectedTags();
            updateTagIds();
        };
    });
    </script>
</body>
</html> 