{extend name="common/base" /}

{block name="title"}修改密码{/block}

{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-badge layui-bg-blue">修改密码</span>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" lay-filter="changePasswordForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="old_password" placeholder="请输入当前密码" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="new_password" placeholder="请输入新密码" autocomplete="off" class="layui-input" lay-verify="required|password">
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="confirm_password" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" lay-verify="required|confirmPassword">
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="changePassword">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
layui.use(['form', 'layer'], function(){
    var form = layui.form;
    var layer = layui.layer;
    
    // 自定义验证规则
    form.verify({
        password: function(value, item){
            if(value.length < 6){
                return '密码长度不能小于6位';
            }
        },
        confirmPassword: function(value, item){
            var password = $('input[name="new_password"]').val();
            if(value !== password){
                return '两次输入的密码不一致';
            }
        }
    });
    
    // 监听提交
    form.on('submit(changePassword)', function(data){
        var loadIndex = layer.load(1, {shade: [0.1, '#fff']});
        
        $.post('/admin/change-password', data.field, function(res){
            layer.close(loadIndex);
            if(res.code == 0){
                layer.msg(res.msg, {icon: 1}, function(){
                    // 密码修改成功后，可以选择退出登录或返回首页
                    layer.confirm('密码修改成功！是否立即退出登录？', {
                        btn: ['退出登录','返回首页']
                    }, function(){
                        // 退出登录
                        $.post('/admin/logout', function(logoutRes){
                            if(logoutRes.code === 0){
                                layer.msg('已退出登录', {icon: 1}, function(){
                                    window.location.href = '/admin/login';
                                });
                            }
                        });
                    }, function(){
                        // 返回首页
                        window.location.href = '/admin/index/index';
                    });
                });
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });
        
        return false;
    });
});
</script>
{/block} 