<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教师详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body style="padding: 15px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <h2>教师详情</h2>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>{$teacher.real_name}</td>
                        <td>工号</td>
                        <td>{$teacher.teacher_no}</td>
                    </tr>
                    <tr>
                        <td>所属学校</td>
                        <td>{$teacher.school.name|default=''}</td>
                        <td>所属学院</td>
                        <td>{$teacher.college.name|default=''}</td>
                    </tr>
                    <tr>
                        <td>手机号</td>
                        <td>{$teacher.phone}</td>
                        <td>邮箱</td>
                        <td>{$teacher.email}</td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>{if $teacher.gender==1}男{elseif $teacher.gender==2}女{else}未知{/if}</td>
                        <td>出生日期</td>
                        <td>{$teacher.birthday}</td>
                    </tr>
                    <tr>
                        <td>职称</td>
                        <td>
                            {if $teacher.title==1}教授{elseif $teacher.title==2}副教授{elseif $teacher.title==3}讲师{elseif $teacher.title==4}助教{elseif $teacher.title==5}其他{else}未知{/if}
                        </td>
                        <td>部门</td>
                        <td>{$teacher.department}</td>
                    </tr>
                    <tr>
                        <td>职位</td>
                        <td>{$teacher.position}</td>
                        <td>学历</td>
                        <td>
                            {if $teacher.education==1}博士{elseif $teacher.education==2}硕士{elseif $teacher.education==3}本科{elseif $teacher.education==4}专科{elseif $teacher.education==5}其他{else}未知{/if}
                        </td>
                    </tr>
                    <tr>
                        <td>专业</td>
                        <td>{$teacher.major}</td>
                        <td>入职日期</td>
                        <td>{$teacher.hire_date}</td>
                    </tr>
                    <tr>
                        <td>工作年限</td>
                        <td>{$teacher.work_years}</td>
                        <td>任教科目</td>
                        <td>{$teacher.teaching_subject}</td>
                    </tr>
                    <tr>
                        <td>研究方向</td>
                        <td>{$teacher.research_direction}</td>
                        <td>状态</td>
                        <td>
                            {if $teacher.status==1}启用{elseif $teacher.status==0}禁用{elseif $teacher.status==2}待审核{else}未知{/if}
                        </td>
                    </tr>
                    <tr>
                        <td>认证状态</td>
                        <td>{if $teacher.is_verified==1}已认证{else}未认证{/if}</td>
                        <td>认证时间</td>
                        <td>{$teacher.verified_time}</td>
                    </tr>
                    <tr>
                        <td>创建时间</td>
                        <td>{$teacher.create_time}</td>
                        <td>更新时间</td>
                        <td>{$teacher.update_time}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html> 