{extend name="common/base" /}

{block name="title"}缓存管理{/block}

{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-badge layui-bg-blue">缓存管理</span>
                </div>
                <div class="layui-card-body">
                    <!-- 缓存信息 -->
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th>缓存信息</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>缓存驱动</td>
                                        <td>{$cacheInfo.cache_driver}</td>
                                    </tr>
                                    <tr>
                                        <td>缓存前缀</td>
                                        <td>{$cacheInfo.cache_prefix}</td>
                                    </tr>
                                    <tr>
                                        <td>缓存过期时间</td>
                                        <td>{$cacheInfo.cache_expire}秒</td>
                                    </tr>
                                    <tr>
                                        <td>内存使用</td>
                                        <td>{$cacheInfo.memory_usage|default='未知'}</td>
                                    </tr>
                                    <tr>
                                        <td>内存峰值</td>
                                        <td>{$cacheInfo.memory_peak|default='未知'}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">缓存操作</div>
                                <div class="layui-card-body">
                                    <button class="layui-btn layui-btn-danger" id="clearAllCache">
                                        <i class="layui-icon layui-icon-delete"></i> 清除所有缓存
                                    </button>
                                    <br><br>
                                    <button class="layui-btn layui-btn-warm" id="clearDataCache">
                                        <i class="layui-icon layui-icon-refresh"></i> 清除数据缓存
                                    </button>
                                    <br><br>
                                    <button class="layui-btn layui-btn-normal" id="clearTemplateCache">
                                        <i class="layui-icon layui-icon-template"></i> 清除模板缓存
                                    </button>
                                    <br><br>
                                    <button class="layui-btn layui-btn-primary" id="clearRouteCache">
                                        <i class="layui-icon layui-icon-location"></i> 清除路由缓存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
layui.use(['layer'], function(){
    var layer = layui.layer;
    
    // 清除所有缓存
    $('#clearAllCache').click(function(){
        layer.confirm('确定要清除所有缓存吗？', function(index){
            clearCache('all');
            layer.close(index);
        });
    });
    
    // 清除数据缓存
    $('#clearDataCache').click(function(){
        layer.confirm('确定要清除数据缓存吗？', function(index){
            clearCache('data');
            layer.close(index);
        });
    });
    
    // 清除模板缓存
    $('#clearTemplateCache').click(function(){
        layer.confirm('确定要清除模板缓存吗？', function(index){
            clearCache('template');
            layer.close(index);
        });
    });
    
    // 清除路由缓存
    $('#clearRouteCache').click(function(){
        layer.confirm('确定要清除路由缓存吗？', function(index){
            clearCache('route');
            layer.close(index);
        });
    });
    
    // 清除缓存函数
    function clearCache(type) {
        var loadIndex = layer.load(1);
        
        $.post('/admin/tools/cache', {type: type}, function(res){
            layer.close(loadIndex);
            if(res.code == 0){
                layer.msg(res.msg, {icon: 1});
                // 刷新页面
                setTimeout(function(){
                    location.reload();
                }, 1000);
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        });
    }
 