<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑学院</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body style="padding: 15px;">
    <form class="layui-form" lay-filter="editCollegeForm">
        <input type="hidden" name="id" value="{$college.id}">
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属学校</label>
                    <div class="layui-input-block">
                        <select name="school_id" lay-verify="required" lay-filter="school">
                            <option value="">请选择学校</option>
                            {volist name="schools" id="school"}
                            <option value="{$school.id}" {if $college.school_id == $school.id}selected{/if}>{$school.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学院名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$college.name}" placeholder="请输入学院名称" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学院编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="code" value="{$college.code}" placeholder="请输入学院编码" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学院简称</label>
                    <div class="layui-input-block">
                        <input type="text" name="short_name" value="{$college.short_name}" placeholder="请输入学院简称" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">院长</label>
                    <div class="layui-input-block">
                        <input type="text" name="dean" value="{$college.dean}" placeholder="请输入院长姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" value="{$college.phone}" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="email" name="email" value="{$college.email}" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" value="{$college.address}" placeholder="请输入地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">教师数量</label>
                    <div class="layui-input-block">
                        <input type="number" name="teacher_count" placeholder="请输入教师数量" autocomplete="off" class="layui-input" value="{$college.teacher_count|default=0}">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">学生数量</label>
                    <div class="layui-input-block">
                        <input type="number" name="student_count" placeholder="请输入学生数量" autocomplete="off" class="layui-input" value="{$college.student_count|default=0}">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" placeholder="请输入排序" autocomplete="off" class="layui-input" value="{$college.sort|default=0}">
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" {if $college.status == 1}checked{/if}>
                        <input type="radio" name="status" value="0" title="禁用" {if $college.status == 0}checked{/if}>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">学院描述</label>
            <div class="layui-input-block">
                <textarea name="description" placeholder="请输入学院描述" class="layui-textarea" rows="3">{$college.description}</textarea>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editCollegeSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    
    <script src="/static/admin/js/jquery-3.7.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        
        // 表单提交
        form.on('submit(editCollegeSubmit)', function(data){
            $.post('/admin/college/edit', data.field, function(res){
                if(res.code === 0){
                    layer.msg('更新成功', {icon: 1}, function(){
                        // 关闭弹窗并刷新父页面表格
                        var frameIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(frameIndex);
                        if (parent.layui && parent.layui.table) {
                            parent.layui.table.reload('collegeTable');
                        }
                    });
                } else {
                    layer.msg(res.message || '更新失败', {icon: 2});
                }
            });
            return false;
        });
    });
    </script>
</body>
</html> 